* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #333;
    font-size: 3rem;
    color: white;
}


.parent{
    margin-top: 50px;
    /*position: relative;*/
    background: yellowgreen;
    height: 100px;
    width: 100px;
    font-size: 30px;
    margin-bottom: 1000px;
}

.child-1{
    top: 0;
    width: 100px;
    height: 100px;
    background: red;
    position: sticky;
}