* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #333;
    font-size: 3rem;
    color: white;
}



.square{
    width: 400px;
    height: 500px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.child{
    width: 100px;
    background: red;
    height: 50px;
}